.banner {
	margin: 0 auto;
	width: 98%;	
	position: relative;
	margin-bottom: 10px;
}
			.backplane {
				border: 10px solid black;
			}
			.frontplane {
				border: 10px solid blue;
				border-radius: 50px;
				padding-top: 15%;
				background-color: transp;
				z-index: 2;
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}
			.frontplane h2, .backgroundImage h2 {
				font-size: 3em;
				color: white;
				background-color: transp;
				text-align: center;
			}
			.backgroundImage {
				background-image: url("../images/banners/nightsky_background.png");
				background-size: 100%;
				border: 10px solid blue;
				border-radius: 50px;
				text-align: center;
				padding: 15%;
			}
		
			@media (prefers-color-scheme: dark) {
				body.dark-scheme {
					background-color: black;
					color: white;
					}
				}
		
			@media (prefers-color-scheme: light) {
  				body.light-scheme {
    				background-color: white;
    				color: black;
  				}
			}

			@media (inverted-colors: inverted) {
				.frontplane h2, .backgroundImage h2 {
					color: green;
				}
			}