!!!
%html{:lang => "en"}

	%head
		%title Sample
		%meta{:charset => "utf-8", :name => "viewport", :content => "width=device-width, initial-scale=1"}
		%link{:rel => "stylesheet", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :crossorigin => "anonymous"}
		%script{:src => "https://code.jquery.com/jquery-3.4.1.slim.min.js", :integrity => "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", :crossorigin => "anonymous"}
		%script{:src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :crossorigin => "anonymous"}
		%script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", :integrity => "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", :crossorigin => "anonymous"}		
		%link{:rel => "stylesheet", :href => "css/styles.css"}

	%body
		.container
			%h1 Designing an Accessible Banner for a Website Using a Background Image
			%p 
				%strong 
					Note: The headings in this article are purposely out of sematic order twice.  This is only to show an example in action and is not part of the actual sematic content.

			%p Oftentimes websites these days use a banner that takes up the whole screen’s width when you land on the site.  For low vision users, this can pose an issue because they are usually utilizing their device’s low vision accessibility features.
		
		.banner
			.backplane
				%img{:src => "images/banners/nightsky_background.png", width => "100%", :alt => " "}

			.frontplane
				%img{:src => "images/banners/mars.png", :width => "20%", :margin => "0 auto", :alt => "Mars Logo"}
				%h2 Hello World!

		.container
			%p 
				On different web browsers, the above banner behaves differently depending on the settings the user is using at the OS level.  For example:
				%ul
					%li 
						On iOS and macOS in the Safari browser, when the user it using Smart Invert Colors, the banner’s background of the night sky remains the same, as does the image of Mars.  The text “Hello World!” becomes the inverse of green.<br>
						%img{:src => "images/screenshots/ios_and_macos_safari/safari1.png", :width => "100%", :alt => "iOS and macOS without Smart Invert"}
						%br
						%img{:src => "images/screenshots/ios_and_macos_safari/safari3.png", :width => "100%", :alt => "iOS and macOS with Smart Invert"}
					%li 
						On Windows 10 in Microsoft Edge, while Windows High Contrast Mode is enabled the image of the night sky and Mars do not change; however, a box with a black border appears behind the text of “Hello World!” and the text itself is white.  When Windows Magnifier’s Invert Colors is enabled, the image of the night sky and Mars become inverted to a bright white and the text is black.
						%br
						%img{:src => "images/screenshots/win_edge/edgereg.png", :width => "100%", :alt => "Microsoft Edge on Windows 10 Normal View"}
						%br
						%img{:src => "images/screenshots/win_edge/edgehc.png", :width => "100%", :alt => "Microsoft Edge on Windows 10 with Windows High Contrast Mode"}
						%br
						%img{:src => "images/screenshots/win_edge/edgeinvert.png", :width => "100%", :alt => "Microsoft Edge on Windows 10 with Windows Magnifier's Invert Colors Enabled"}
						%br
					%li In Chrome web browser’s Accessibility, there is an extension for High Contrast.. . . 
					%li In Chrome web browser, there is an extension called Dark Reader. . . 
					%li On macOS, Mozilla Firefox. . . 

			%h2 In General Practice
			%p In general practice, a banner is created primarily from the CSS side of web development by way of the background-image property in a CSS class.  For example:

		.banner
			.backgroundImage"
				%img{:src => "images/banners/mars.png", :width => "20%", :margin => "0 auto", :alt="Mars Logo"}
				%h2 Hello World!

		.container"
			%p However, one issue with this is primarily with the Apple products like iOS and macOS, when Smart Invert is enabled, the background image itself is inverted but any HTML images defined are not as shown in the example above.
			
			%h2 A Workaround
			
			%p There is, luckily a workaround for this.  It involves stacking layers onto the page by way of the z-index (the third dimension).

			%p We will create three classes, .banner, .backplane, and .frontplane.  The .banner class is the “wrapper” that holds the two layers together, like a picture frame.  The .backplane class is the photo in the frame (the night sky).  Finally, .frontplane class is the glass of the photo frame that holds the actual content (the image of Mars and the “hello World!” text.

			%h2 Detecting the Use of Invert Colors
			
			%p Websites can detect that the user is using Invert Colors.  In the examples above, when invert colors is not in use, the text is white.  When Invert Colors is in use, the text appears white but is actually black because it is displaying the inverse of black.

			%p To achieve this, we will use Media Queries, an advanced technique in CSS3 that is normally used for responsive design to detect the size of the screen and adjust accordingly.

			%h2 Detecting Dark Mode
			
			%p On many platforms today, the system now has Light or Dark Mode.  Websites can detect which is being used and switch over to a different set of styles related to that color scheme.  Again, this is another advanced technique in CSS derived from Media Queries.

			%p One benefit of designing for Dark Mode is that unlike Invert Colors, the display is actually consistent across browsers that support this media feature.
